* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background-color: #f2f2f2;
    margin: 0;
}

img {
    max-width: 100%;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

/*header section*/

.student-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #353535;
    font-family: Roboto;
    letter-spacing: 1px;
}

#main-nav {
    width: 100%;
    margin: auto;
}

.nav-item {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #f7f7f7;
    list-style: none;
    width: 100%;
    margin-bottom: 3px;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: -20px;
    width: 100%;
}

/*home section */


.nav-item a:hover {
    color: #ff8400;
}

.main-photo {
    text-align: center;
}

#port-img {
    margin-top: 2rem;
    width: 200px;
    height: auto;
}

.intro-p,
.contact-info {
    color: #828282;
    font-size: 0.92rem;
    text-align: center;
    line-height: 1.5;
    margin: 1rem;
}

/*portfolio section*/

#portfolio {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
}

.projects-container {
    padding-bottom: 2rem;
}

.project-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-title {
    margin-top: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 100;
}

.project-info {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #383838;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*skills section*/

#skills {
    background-color: #f5dad7;
    padding-bottom: 2rem;
}

.tech-skills li:hover {
    background-color: #ff8400;
    transition: 0.2s ease-in;
    color: white;
    cursor: pointer;
}

/*contact section*/

.contact-container {
    padding-bottom: 3rem;
}

.bold-info {
    color: #353535;
    font-weight: bold;
    margin-left: 10px;
}

/*footer section*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.wider-footer {
    display: none;
}

/*styles for tablets*/

@media (min-width: 768px) {
    .wrapper {
        margin: 1rem;
    }

    .student-name {
        font-size: 2rem;
        margin-top: 3rem;
    }

    #main-nav {
        display: flex;
        margin-bottom: 3rem;
    }

    #main-nav li {
        background-color: #f2f2f2;
        font-size: 1.1rem;
    }

    #home {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    .main-photo {
        margin-left: 1rem;
    }

    #port-img {
        width: 930px;
    }

    .intro-p {
        font-size: 1.4rem;
        text-align: left;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
    }

    .project-item {
        flex: 50%;
        margin-bottom: 1rem;
    }

    .project-info {
        font-size: 1.1rem;
    }

    .tech-skills {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tech-skills li {
        width: 150px;
        font-size: 1.18rem;
        margin-right: 1rem;
    }

    .contact-container {
        width: 700px;
        margin: auto;
    }

    .contact-info {
        font-size: 1.4rem;
    }

    #contact-p {
        margin-bottom: 3.5rem;
    }

    footer {
        margin-bottom: 4rem;
        font-size: 1rem;
    }

    #top-link {
        display: none;
    }

    .wider-footer {
        display: block;
    }

    .wider-footer li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
}

/*styles for wider tablets and desktops*/

@media (min-width: 1024px) {

    .wrapper {
        margin: 1rem;
    }

    nav {
        margin: 1.5rem;
        display: flex;
    }

    .name-container {
        width: 290px;
        height: 135px;
    }

    #main-nav {
        justify-content: flex-end;
    }

    #main-nav li {
        width: 155px;
    }

    .intro-p {
        margin-top: -35px;
    }

    .project-item {
        flex: 30%;
    }

    footer {
        margin-bottom: 0.2rem;
    }
}
